*.o
*~
/ghwif
/hwif
/utest
/CMakeCache.txt
/.ninja_log
/.ninja_deps
/config.h
/CMakeFiles/
/build.ninja
/cmake_install.cmake
/rules.ninja
/test/.ninja_log
/test/.ninja_deps
/test/CMakeCache.txt
/test/CMakeFiles/
/test/build.ninja
/test/cmake_install.cmake
/test/Makefile
/test/utest
/test/rules.ninja
/lua/*.c
/lua/*.h